<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerScript</key>
	<true/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Debugger</key>
	<string>jdb</string>
	<key>Diagnostics</key>
	<array>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Compile Script</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string>^(?&lt;file&gt;[^\s].*?):(?&lt;line&gt;\d+):(?&lt;column&gt;\d+):? (?&lt;message&gt;.*)$</string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>0</integer>
			<key>UpdateMode</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>1CC60074-023B-433B-9A53-23C6D23D37B0</string>
		</dict>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Console Text</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string>^(?&lt;file&gt;[^\s].*?):(?&lt;line&gt;\d+):(?&lt;column&gt;\d+)?:? (?&lt;message&gt;.*)$</string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>2</integer>
			<key>UpdateMode</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>61ED4250-A6B8-495A-B548-EBE3EB8616D7</string>
		</dict>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Invalid Syntax</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>101</integer>
			<key>UpdateMode</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>8D2F702C-7A5D-4084-B773-613BDC68A8AB</string>
		</dict>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Conflict</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>105</integer>
			<key>UpdateMode</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>1214DCDF-240F-49E5-8A5A-350605CD85C3</string>
		</dict>
	</array>
	<key>Docs</key>
	<array>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Name</key>
			<string>Java SE 9</string>
			<key>POST</key>
			<string></string>
			<key>Type</key>
			<integer>0</integer>
			<key>URL</key>
			<string>https://docs.oracle.com/javase/9/docs/api/index.html</string>
			<key>uuid</key>
			<string>A8506643-4CED-4DAD-8691-34283E1C9A59</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Name</key>
			<string>Java SE 8</string>
			<key>POST</key>
			<string></string>
			<key>Type</key>
			<integer>0</integer>
			<key>URL</key>
			<string>https://docs.oracle.com/javase/8/docs/api/index.html</string>
			<key>uuid</key>
			<string>6984DD13-CCF5-43D7-B6CF-993EE0235A86</string>
		</dict>
	</array>
	<key>Enabled</key>
	<string>YES</string>
	<key>FileExtensions</key>
	<array>
		<string>java</string>
	</array>
	<key>Grammar</key>
	<string>source.java</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2025-11-19T02:48:25Z</date>
	<key>Name</key>
	<string>Java</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RequiresExternalComponents</key>
	<true/>
	<key>RunCommand</key>
	<string>java --enable-preview -cp "${compiler%:*}" "${compiler#*:}"
#  -XX:+UseZGC </string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<true/>
			<key>Extension</key>
			<string>java</string>
			<key>Name</key>
			<string>Main File</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>void main() {
	&lt;##&gt;
}</string>
			<key>TemplateModified</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>java</string>
			<key>Name</key>
			<string>Class</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

public class ___FILEBASENAME___ {
	&lt;##&gt;
}</string>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>java</string>
			<key>Name</key>
			<string>Interface</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

public interface ___FILEBASENAME___ {
	&lt;##&gt;
}</string>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>java</string>
			<key>Name</key>
			<string>Enum</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

public enum ___FILEBASENAME___ {
	&lt;##&gt;
}</string>
		</dict>
	</array>
	<key>UseCount</key>
	<integer>90</integer>
	<key>uuid</key>
	<string>123A91F7-DC75-4DA4-AC58-2D9FBC35F8C5</string>
</dict>
</plist>
