<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>CustomTabMode</key>
	<false/>
	<key>Debugger</key>
	<string>lldb</string>
	<key>Diagnostics</key>
	<array/>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>odin</string>
	</array>
	<key>Grammar</key>
	<string>source.c</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2025-08-20T12:38:22Z</date>
	<key>Name</key>
	<string>Odin Run</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RunCommand</key>
	<string>odin run $filename -file</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array/>
	<key>UseCount</key>
	<integer>4</integer>
	<key>uuid</key>
	<string>5D17FA40-3752-4C73-B73E-777D005DA25D</string>
</dict>
</plist>
