<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>CustomTabMode</key>
	<false/>
	<key>Diagnostics</key>
	<array>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Console Text</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>2</integer>
			<key>UpdateMode</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>F0128C64-E59A-455A-81D0-A13E75146EB3</string>
		</dict>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Invalid Syntax</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>101</integer>
			<key>UpdateMode</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>8FB7BCDD-AC8C-4AA1-A9A7-95623D3F6D62</string>
		</dict>
	</array>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>rkt</string>
	</array>
	<key>Grammar</key>
	<string>source.scheme</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2026-03-02T02:43:00Z</date>
	<key>Name</key>
	<string>Racket</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RunCommand</key>
	<string>racket $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array/>
	<key>UseCount</key>
	<integer>13</integer>
	<key>uuid</key>
	<string>1965B571-C2DC-434A-9709-8CDEF8CD72A4</string>
</dict>
</plist>
