<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<true/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>CustomTabMode</key>
	<false/>
	<key>Diagnostics</key>
	<array>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Console Text</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>2</integer>
			<key>UpdateMode</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>62AABC30-AAC7-41BE-A40C-D8453216652D</string>
		</dict>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Compile Script</string>
			<key>Options</key>
			<integer>4</integer>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>UpdateMode</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>37048260-B8A3-48DC-B596-1DC5E63290A6</string>
		</dict>
	</array>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>kt</string>
		<string>kts</string>
	</array>
	<key>Grammar</key>
	<string>source.Kotlin</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2025-08-22T07:16:54Z</date>
	<key>Name</key>
	<string>Scala</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RequiresExternalComponents</key>
	<true/>
	<key>RunCommand</key>
	<string>java -jar $compiler</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<integer>1</integer>
			<key>Extension</key>
			<string>kt</string>
			<key>Name</key>
			<string>Main File</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>fun main(args: Array&lt;String&gt;) {
	&lt;##&gt;
}</string>
		</dict>
	</array>
	<key>UseCount</key>
	<integer>11</integer>
	<key>uuid</key>
	<string>4BC9E2BD-24A6-4286-A473-0F011FFDAC20</string>
</dict>
</plist>
