<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Diagnostics</key>
	<array>
		<dict>
			<key>Command</key>
			<string>ruby -c $filename</string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Ruby Syntax</string>
			<key>Options</key>
			<integer>4</integer>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string>^(?&lt;file&gt;[^\s].*?):(?&lt;line&gt;\d+):(?&lt;column&gt;\d+)?:? (?&lt;message&gt;.*)$</string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>1</integer>
			<key>UpdateMode</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>3EE17762-64B9-416F-8F36-3C526525ADB5</string>
		</dict>
	</array>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>rb</string>
	</array>
	<key>Grammar</key>
	<string>source.ruby</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2025-12-25T15:17:12Z</date>
	<key>Name</key>
	<string>Ruby</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RunCommand</key>
	<string>ruby $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<true/>
			<key>Extension</key>
			<string>rb</string>
			<key>Name</key>
			<string>Ruby Script</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>#!/usr/bin/ruby

&lt;##&gt;</string>
		</dict>
	</array>
	<key>UseCount</key>
	<integer>2</integer>
	<key>uuid</key>
	<string>966788B5-C2C2-444C-AB8C-C97862C77C6C</string>
</dict>
</plist>
