<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>1</integer>
	<key>ConsoleTypeSwitchable</key>
	<true/>
	<key>Diagnostics</key>
	<array/>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>md</string>
		<string>markdown</string>
	</array>
	<key>Grammar</key>
	<string>text.html.markdown</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2026-03-08T12:07:44Z</date>
	<key>LiveConsole</key>
	<true/>
	<key>Name</key>
	<string>Markdown</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RunCommand</key>
	<string>echo "&lt;meta charset=\"UTF-8\"&gt;"; perl "$CR_SCRIPTS_DIR/Markdown.pl" $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array/>
	<key>UseCount</key>
	<integer>4</integer>
	<key>uuid</key>
	<string>210B9720-0015-445F-919F-8BF207AEF0FD</string>
</dict>
</plist>
