<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Debugger</key>
	<string>lldb</string>
	<key>Diagnostics</key>
	<array>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Compile Script</string>
			<key>Options</key>
			<integer>4</integer>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string>^(?&lt;file&gt;[^\s].*?):(?&lt;line&gt;\d+):(?&lt;column&gt;\d+):? (?&lt;message&gt;.*)$</string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>0</integer>
			<key>UpdateMode</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>498AD6F9-AE57-4848-928C-F310D03FB1B1</string>
		</dict>
		<dict>
			<key>Command</key>
			<string></string>
			<key>KeyEquivalent</key>
			<string></string>
			<key>Name</key>
			<string>Console Text</string>
			<key>OutputMode</key>
			<integer>0</integer>
			<key>OutputRegex</key>
			<string></string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>2</integer>
			<key>UpdateMode</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>62F5E7CE-5D20-4ABF-A3AB-CDA87FED1AE8</string>
		</dict>
	</array>
	<key>Docs</key>
	<array/>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>go</string>
	</array>
	<key>Grammar</key>
	<string>source.go</string>
	<key>Installer</key>
	<array>
		<string>go</string>
		<string>the Go compiler</string>
		<string>http://golang.org</string>
	</array>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2025-09-10T08:54:43Z</date>
	<key>Name</key>
	<string>Go Run</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RequiresExternalComponents</key>
	<true/>
	<key>RunCommand</key>
	<string>go run $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<integer>1</integer>
			<key>Extension</key>
			<string>go</string>
			<key>Name</key>
			<string>Main File</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>package main

func main() {
	&lt;##&gt;
}</string>
		</dict>
	</array>
	<key>UseCount</key>
	<integer>5</integer>
	<key>uuid</key>
	<string>3C0F3F2C-A443-4FF0-88EB-62627FECB89E</string>
</dict>
</plist>
