iframe.interactive,
div.document-actions,
#main-header,
.results-search-form,
.local-anchor,
p.search-meta a,
h2:before {
	display: none !important;
}

.document-head {
	padding-bottom: 20px !important;
}

main > .center {
	padding-top: 0 !important;
}

h2 {
	margin-top: initial !important;
}

ul.result-list {
	margin-top: 0;
}

.result-list li {
	padding: 0 !important;
}

.search-pane {
	padding: 0 !important;
}

.coderunner_style .search-pane {
	background: transparent !important;
}

.search-results-container mark {
	color: inherit;
	font-weight: inherit;
}

h2>.collapse-trigger:before {
	margin-right: 10px;
}

h2>.collapse-trigger[aria-expanded=true]:before {
	margin-top: 7px;
}

.document-head {
	background: transparent;
}
