<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Debugger</key>
	<string>lldb</string>
	<key>Diagnostics</key>
	<array>
		<dict>
			<key>Command</key>
			<string></string>
			<key>Name</key>
			<string>Console Text</string>
			<key>OutputMode</key>
			<integer>2</integer>
			<key>OutputRegex</key>
			<string>^(?&lt;file&gt;[^\s].*?):(?&lt;line&gt;\d+):(?&lt;column&gt;\d+)?:? (?&lt;message&gt;.*)$</string>
			<key>OutputScriptUUID</key>
			<string></string>
			<key>Type</key>
			<integer>2</integer>
			<key>UpdateMode</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>FA6F55C8-860F-4544-A53D-ADE4E10F8078</string>
		</dict>
	</array>
	<key>Docs</key>
	<array>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Name</key>
			<string>Python</string>
			<key>POST</key>
			<string></string>
			<key>Type</key>
			<integer>0</integer>
			<key>URL</key>
			<string>https://docs.python.org/3/search.html?q={query}</string>
			<key>uuid</key>
			<string>FF667E76-BF73-4C18-AD70-EABAC0861D92</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Name</key>
			<string>Python Tutorial</string>
			<key>POST</key>
			<string></string>
			<key>Type</key>
			<integer>1</integer>
			<key>URL</key>
			<string>https://docs.python.org/3/tutorial/index.html</string>
			<key>uuid</key>
			<string>5AC25D41-1EB5-401E-B885-1F0A6ECC16D4</string>
		</dict>
	</array>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>julia</string>
	</array>
	<key>Grammar</key>
	<string>source.julia</string>
	<key>Installer</key>
	<array>
		<string>python3</string>
		<string>Python 3</string>
		<string>http://python.org</string>
	</array>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2025-10-09T08:10:49Z</date>
	<key>Name</key>
	<string>Julia</string>
	<key>OutputEncoding</key>
	<integer>0</integer>
	<key>RequiresExternalComponents</key>
	<true/>
	<key>RunCommand</key>
	<string>julia $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<integer>1</integer>
			<key>Extension</key>
			<string>py</string>
			<key>Name</key>
			<string>Python File</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>#!/usr/bin/env python3

&lt;##&gt;</string>
			<key>TemplateModified</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>py</string>
			<key>Name</key>
			<string>Class</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string># ___FILENAME___
# Created by ___FULLUSERNAME___ on ___DATE___.

class ___FILEBASENAME___:
	def __init__(self):
		&lt;##&gt;</string>
		</dict>
	</array>
	<key>UseCount</key>
	<integer>5</integer>
	<key>uuid</key>
	<string>A54188FD-D76C-4C06-87F9-FDFB5789DE6F</string>
</dict>
</plist>
